{% extends 'layout/base.html' %}
{% load static %}
{% load filter %}

{% block meta %}
<link href="{% static 'css/movie.css' %}" rel="stylesheet">
<script>
    //이미지 레이지 로딩
    //수정 버그있다.
    {% comment %} document.addEventListener("DOMContentLoaded", function() {
        const options = {
            threshold: 0.01 //1%
        };
        const callback = (entries, observer) => {
            entries.forEach(function(entry) {
                if (entry.isIntersecting) {
                    let image = entry.target;
                    image.src = image.dataset.src;
                    observer.unobserve(entry.target);
                }
            });
        }
        const observer = new IntersectionObserver(callback, options);
        document.querySelectorAll(".lazy").forEach(function(image) {
            observer.observe(image);
        });
    }); {% endcomment %}
</script>
{% endblock %}

{% block content %}
<main class="container-xxl bbb">
    <div class="row aaa">
        <aside class="sisu-aside col-12 col-lg bbb">
            <div class="large-sticky aaa">
                <div class="mobile-wrapper bbb">
                    {% if user.is_authenticated %}
                    <div class="aaa">
                        <button type="button" onClick="setMovieForm()">추가</button>                          
                    </div>
                    {% endif %}
                    <div class="d-lg-none aaa">
                        <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                            메뉴 열기
                        </button>
                    </div>
                </div>
                <div class="offcanvas-lg offcanvas-start test bbb" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                    <div class="d-lg-none aaa">
                        <h5 id="offcanvasExampleLabel">영화 목록</h5>
                        <button type="button" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasExample" aria-label="Close">닫기</button>
                    </div>
                    <div class="toc-wrapper aaa">
                        {% include 'movie/movie_toc.html' %}
                    </div>
                </div>
            </div>
        </aside>
        <div class="col-12 col-lg-9 bbb">
            <div class="aaa">
                <h1>Hello Movie!</h1>
            </div>
            <div id="movie-wrapper" class="row aaa">
        {% if movie_list %}
            {% for movie in movie_list %}
                <div id="{{movie.id}}" class="col-6 col-sm-4 col-lg-3 my-2">
                    <div class="flip">
                        <div class="paper">
                            <div class="front">
                                <div class="thumbnail-box">
                                    <img src="{{movie.thumbnail.url}}" class="thumbnail lazy" alt="{{movie.title}}" onerror="src='{% static 'images/movie_404.jpg' %}'">
                                </div>
                            </div>
                            <div class="back">
                                <div>{{movie.format}}</div>
                                <hr>
                                <div>{{movie.title}}</div>
                                <div>{{movie.title_en}}</div>
                                <hr>
                                <div>{{movie.brand}}&nbsp;{{movie.location}}</div>
                                <div>{{movie.date|date:'Y.m.d'}}({{movie.weekday|weekday}})</div>
                                <div>
                                    <a href="{{movie.poster.url}}" target="_blank">원본</a>
                                {% if user.is_authenticated %}
                                    <button onClick="getMovie('{{movie.id}}')">수정</button>
                                    <button onClick="deleteMovie('{{movie.id}}')">삭제</button>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
                <div>null???</div>
        {% endif %}
            </div>
        </div>
    </div>
    <div id="modal-background" class="shield hide"></div>
    {% if user.is_authenticated %}
    {% include 'movie/movie_form.html' %}
    {% endif %}
</main>
<script>
    let focusMovie;
    const CARDS = document.querySelectorAll(".flip");
    CARDS.forEach((e)=> {
        e.addEventListener("click", () => {
            const IS_ACTIVE = e.classList.contains("active");
            if(!IS_ACTIVE){
                e.classList.add("active");
                const scrollbarWidth = window.innerWidth - document.body.clientWidth;
                document.body.style.cssText = `padding-right: ${scrollbarWidth}px; overflow: hidden;`;
                document.querySelector(".shield").classList.add("show");
                focusMovie = e;
            }
        });
    });
    document.getElementById("modal-background").addEventListener("click", () => {
        hideModal();
    });
    function hideModal(){
        const IS_ACTIVE = focusMovie.classList.contains("active");
        if(IS_ACTIVE){
            focusMovie.classList.remove("active");
            document.body.style.cssText = "";
            document.querySelector(".shield").classList.remove("show");
            focusMovie = null;
        }
    }

    {% if user.is_authenticated %}
    const MODAL_FORM = new bootstrap.Modal(document.getElementById("exampleModal"));

    function initForm(){
        document.getElementById("movie-form").reset();
        document.getElementById("poster-image").src = "";
    }

    function setMovieForm(){
        initForm();
        hideModal();
        MODAL_FORM.show();
    }

    function callKobisApi(){
        const URL = "{% url 'movie:kobis' %}";
        const OPTIONS = {
            method: "POST",
            mode: "same-origin",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
            },
            body: JSON.stringify({
                movieName: document.getElementById("movie-name").value,
            }),
        }
        fetch(URL, OPTIONS)
        .then((response) => response.json())
        .then(data => {
            if(data.status){
                if(0 < data.data.length){
                    let kobisList = document.getElementById("kobis-list");
                    kobisList.innerHTML = "";
                    data.data.forEach(el => {
                        kobisList.innerHTML += `
                            <div id="${el.movieCd}" title="${el.movieNm}" title-en="${el.movieNmEn}">
                                <button type="button" onClick="selectKobisTitle('${el.movieCd}')">선택</button>
                                <span>${el.movieNm}</span>
                                <span>${el.movieNmEn}</span>
                            </div>`
                    });
                }else{
                    alert("없어");
                }
            }else{
                alert(data.message);
            }
        })
        .catch((error) => console.log("error:", error));
    }

    function selectKobisTitle(movieCd){
        const KOBIS_DATA = document.getElementById(movieCd);
        const KOBIS_TITLE = KOBIS_DATA.getAttribute("title");
        const KOBIS_TITLE_EN = KOBIS_DATA.getAttribute("title-en");
        document.getElementById("title").value = KOBIS_TITLE ? KOBIS_TITLE : "None";
        document.getElementById("title_en").value = KOBIS_TITLE_EN ? KOBIS_TITLE_EN : "None";
    }

    function showPoster(input) {
        if(input.files && input.files[0]){
            var reader = new FileReader();
            reader.onload = function(e) {
              document.getElementById("poster-image").src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }else{
            document.getElementById("poster-image").src = "";
        }
    }
    const MOVIE_FORM = document.getElementById("movie-form");
    MOVIE_FORM.addEventListener("submit", (e) => {
        e.preventDefault();//submit 멈춰!
        createMovie();
    });

    function createMovie() {
        const PAYLOAD = new FormData(MOVIE_FORM);
        if(PAYLOAD.get("id") === ""){//id가 빈칸이면 신규 등록을 의미
            if(PAYLOAD.get("poster").size === 0 && PAYLOAD.get("poster").name === ""){
                alert("포스터 업로드 하쇼잉");
                return false;
            }
        }
        const URL = "{% url 'movie:save'%}";
        const OPTIONS = {
            method: "POST",
            mode: "same-origin",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
            },
            body: PAYLOAD,
        }
        fetch(URL, OPTIONS)
        .then(response => response.json())
        .then(data => {
            if(data.status){
                const MOVIE = data.data;
                const DATE = data.data.date.replaceAll("-",".");
                const WEEKDAY = ["월","화","수","목","금","토","일"];
                const MOVIE_HTML = `
                <div id="${MOVIE.id}">
                    <img src="{% get_media_prefix %}${MOVIE.thumbnail}" alt="${MOVIE.title}">
                    <div>${MOVIE.format}</div>
                    <div>${MOVIE.title}</div>
                    <div>${MOVIE.title_en}</div>
                    <div>${MOVIE.brand}&nbsp;${MOVIE.location}</div>
                    <div>${DATE}(${WEEKDAY[MOVIE.weekday]})</div>
                    <div>
                        <a href="{% get_media_prefix %}${MOVIE.poster}" target="_blank">원본</a>
                        <button onClick="getMovie('${MOVIE.id}')">수정</button>
                        <button onClick="deleteMovie('${MOVIE.id}')">삭제</button>
                    </div>
                </div>
                `;
                if(PAYLOAD.get("id") === ""){//신규등록이면 맨 앞에 두기
                    document.getElementById("movie-wrapper").insertAdjacentHTML("afterbegin", MOVIE_HTML);
                }else{//기존것은 원래의 것과 교체
                    document.getElementById(MOVIE.id).insertAdjacentHTML("afterend", MOVIE_HTML);
                    document.getElementById(MOVIE.id).remove();
                }
                alert(data.message);
            }else{
                let mess = "";
                for(key in data.data){
                    mess += key+": "+data.data[key]+"\n";
                }
                alert(data.message+"\n"+mess);
            }
        })
        .catch((error) => console.log("error:", error));
    }

    function getMovie(id) {
        const URL = "{% url 'movie:get' %}";
        const OPTIONS = {
            method: "POST",
            mode: "same-origin",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                id: id,
            }),
        }
        fetch(URL, OPTIONS)
        .then(response => response.json())
        .then(data => {
            if(data.status){
                for(key in data.data){
                    //수정 언젠가 getElementById로 바꾸고 말거야
                    const INPUT = document.getElementsByName(key)[0];
                    if(INPUT !== undefined){
                        if(INPUT.type === "radio"){
                            const RADIO = document.querySelectorAll("input[name='"+key+"']");
                            RADIO.forEach(r => {
                                if (r.value === data.data[key]) {
                                    r.checked = true;
                                }
                            });
                        }else if(INPUT.type == "file"){
                            document.getElementById("poster-image").src = "/media/"+data.data[key];
                        }else{
                            INPUT.value = data.data[key];
                        }
                    }
                }
                hideModal();
                MODAL_FORM.show();
            }else{
                alert(data.message);
            }
        })
        .catch((error) => console.log("error:", error));
    }

    function deleteMovie(id) {
        const URL = "{% url 'movie:delete' %}";
        const OPTIONS = {
            method: "POST",
            mode: "same-origin",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                id: id,
            }),
        }
        fetch(URL, OPTIONS)
        .then(response => response.json())
        .then(data => {
            if(data.status){
                document.getElementById(id).remove();
                alert(data.message);
            }else{
                alert(data.message);
            }
        })
        .catch((error) => console.log("error:", error));
    }
    {% endif %}
    //수정 현이에게 js 관리 어케 하는지 물어보기
</script>
{% endblock %}