<hr>
<div>
    <input type="text" id="movie-name" value="오펜하이머"/>
    <button onClick="callKobisApi()">검색</button>
</div>
<div id="kobis-list"></div>
<form id="movie-form" enctype="multipart/form-data">
    <input type="hidden" name="id">
        <div>
            <label for="title">제목:</label>
            <input type="text" id="title" name="title" maxlength="100" required="">
        </div>
        <div>
            <label for="title_en">영제:</label>
            <input type="text" id="title_en" name="title_en" maxlength="100" required="">
        </div>
        <div>
            <label>브랜드:</label>
            <div id="id_brand" class="special">
                <div>
                    <label for="brand_0"><input type="radio" id="brand_0" name="brand" value="CGV" required="">CGV</label>
                </div>
                <div>
                    <label for="brand_1"><input type="radio" id="brand_1" name="brand" value="롯데시네마" required="">롯데시네마</label>
                </div>
                <div>
                    <label for="brand_2"><input type="radio" id="brand_2" name="brand" value="메가박스" required="">메가박스</label>
                </div>
                <div>
                    <label for="brand_3"><input type="radio" id="brand_3" name="brand" value="기타" required="">기타</label>
                </div>
                <div>
                    <label for="brand_4"><input type="radio" id="brand_4" name="brand" value="VOD" required="">VOD</label>
                </div>
            </div>   
        </div>
        <div>
            <label for="location">장소:</label>
            <input type="text" id="location" name="location" maxlength="20" required="">
        </div>
        <div>    
            <label for="format">포맷:</label>
            <input type="text" id="format" name="format" maxlength="20" required="">
        </div>
        <div>
            <label for="date">날?짜:</label>
            <input type="date" id="date" name="date" required="">
        </div>
        <div>
            <label for="poster">포스터:</label>
            <input type="file" id="poster" name="poster" onchange="showPoster(this)">
        </div>
        <div class="col-12 col-md-4">
            <div class="box">
                <div class="content">
                    <img src="" id="poster-image" class="">
                </div>
            </div>
        </div>
    <button type="submit">제출</button>
</form>
<hr>