.movie-box {
    border: 1px solid gray;
    border-radius: 5%;
    padding: 10px;
    max-width: 180px;
    background-color: white;
}
.movie {
    display: block;
    /* inherit = 부모 상속 */
    border-radius: inherit;
    width: 100%;
}

.post-wrapper {
    display: flex;
}
.post-wrapper > .content {
    flex: 1;
    width: 1px;
}
.post-wrapper > .thumbnail {
    flex: 0 0 auto;
}
.content-span {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: normal;
    word-wrap: break-word;
}
.image-box {
    width:128px;
    height:128px;
    overflow:hidden;
    margin:0 auto;
}
.image-thumbnail {
    width:100%;
    height:100%;
    object-fit:cover;
}

.small-span {    
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: normal;
    word-wrap: break-word;
}
.prev:not(.active)  > span {
    display: block!important;
}
.prev.active > button {
    display: block!important;
}
.next:not(.active) > span {
    display: block!important;
}
.next.active > button {
    display: block!important;
}