@media (max-width: 991.98px){
    .toc-wrapper {
        height: 100%;
        overflow-y: auto;
    }
}
@media (min-width: 992px){
    .test {
        max-height: calc( 100vh - 4rem);
        overflow-y: auto;
    }
}

.toc-text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: normal;
    word-wrap: break-word;
}

.box {
    position: relative;
    width: 100%;
}
.box:before {
    content: "";
    display: block;
    padding-top: 153.5714285%;
}
.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.content > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail-box {
    box-shadow: 0 .2rem 1rem rgba(0,0,0,.15);
    border-radius: 5%;
    padding: 10px;
    background-color: white;
}
.thumbnail {
    display: block;
    /* inherit = 부모 상속 */
    border-radius: inherit;
    width: 100%;
}

/* 카드 뒤집기 */
.flip { 
    perspective: 1100px;
    transition: all 0.2s ease;
}
.flip:hover:not(.active) {
    transform: scale(1.1);
}
.flip.active {
    z-index: 1051;
    position: fixed;
    top: 50%;
    left: 50%;
    transition: all 0.5s ease;
    transform: translate(-50%, -50%);
}
/* //수정 css-test.kro.kr 3번의 비밀을 파해치자 */
.paper {
    /* position: relative; */
    width: 100%; 
    height: 100%; 
    transition: all 0.5s ease;
    /* 얘가 3d 랜더링 해줘서 카드 앞 뒤 인식이 가능한 것 */
    transform-style: preserve-3d;
}
.active .paper {
    transform: rotateY(180deg);
}
.front {
    /* 요소 뒤 요소 보일까 말까 */
    backface-visibility: hidden;
}
.back { 
    position: absolute;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: white;
    box-shadow: 0 0 0 2px #000 inset;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
/* 내가 만든 모달 검은 배경 */
.hide {
    transition: opacity 0.5s linear;
}
.shield.hide {
    opacity: 0;
}
.shield.show {
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}