.aaa {
    border: 3px solid #0d6efd!important;
    margin: 4px;
}
.bbb {
    border: 3px solid #000!important;
    margin: 4px;
}
.no-padding {
    padding: 0px!important;
}

@media (max-width: 991.98px){
    .sisu-aside {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1020;
    }
    .mobile-wrapper {
        display: flex;
        justify-content: flex-end;
    }
}
@media (min-width: 992px){
    .large-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020;
    }
}