.aaa {
    border: 5px solid #0d6efd!important;
}
.bbb {
    border: 5px solid #000!important;
}

.content-span {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: normal;
    word-wrap: break-word;
}
.image-box {
    width:100px;
    height:100px;
    overflow:hidden;
    margin:0 auto;
}

.image-thumbnail {
    width:100%;
    height:100%;
    object-fit:cover;
}