.aaa {
    border: 5px solid #0d6efd!important;
}
.bbb {
    border: 5px solid #000!important;
}

.image-box {
    width:100px;
    height:100px;
    overflow:hidden;
    margin:0 auto;
}

.image-thumbnail {
    width:100%;
    height:100%;
    object-fit:cover;
}