{% extends 'layout/base.html' %}
{% load filter %}

{% block meta %}
<script>
    console.log('blog');
</script>
{% endblock %}

{% block content %}
<main>
    <h1>Hello Blog!</h1>
    <hr/>
        <ul>
        {% getTree as menus %}                        
        {% for node in menus %} 
            {% include 'blog/blog_menu.html' %}
        {% endfor %}
        </ul>
    <hr/>
    {% if user.is_authenticated %}
    <a href="{% url 'blog:create' %}">create</a>
    {% endif %}
</main>
{% endblock %}