{% load static %}
<link rel="stylesheet" href="{% static 'ckeditor5/content-styles.css' %}" type="text/css">
<div class="bbb">
    <a href="{% url 'blog:post_list' post.tree_id %}"><h6>{{post.tree}}</h6></a>
    <div class="float-end"><button id="copy-url" class="float-end">링크복사</button></div>
</div>
<div class="bbb">
    <h1>{{post.title}}</h1>
</div>
<div class="bbb">
    조회: {{post.view_count}}
    <a href="#comment-wrapper">댓글: {{post.comment.count}}개</a>
    <span class="float-end">{{post.insert_date|date:'Y.m.d G:i D'}}</span>
</div>
{% if user.is_authenticated %}
<div class="bbb">
    <a href="{% url 'blog:update_post' post.id %}">update</a>
    <a href="#" id="post-delete-button">delete</a>
    공개여부:{{post.is_public}}
</div>
{% endif %}
<div class="ck-content text-break bbb">
    {% autoescape off %}
    {{post.content}}
    {% endautoescape %}
</div>
<div id="comment-wrapper" class="bbb">
    {% if cmt_list %}
        {% for cmt in cmt_list %}
            <div class="comment aaa">
                <span>이름:{{cmt.nickname}}</span>
                {% if cmt.is_authenticated %}
                (주인이다!)
                {% endif %}
                <br/>
                <span>내용:{{cmt.content}}</span>
                {% if user.is_authenticated %}
                <button class="delete-button" post-id="{{cmt.id}}">수퍼x</button>
                {% elif not user.is_authenticated and not cmt.is_authenticated %}
                <button type="button" class="modal-button" modal-id="{{cmt.id}}">삭제</button>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="bbb">
    {% if user.is_authenticated %}
    <form id="comment-form" class="d-flex">
        <input type="hidden" name="post" required="" value="{{post.id}}">
        <textarea class="w-100" name="content" cols="35" rows="4"></textarea>
        <button type="submit">등록</button>
    </form>
    {% else %}
    <div class="modal modal-sm fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <button type="button" data-bs-dismiss="modal" aria-label="Close">닫기</button>
                    </div>
                    <div>
                        <input type="hidden" id="modal-id" required="" value="" readOnly>
                        비밀번호: <input type="text" id="modal-password" maxlength="20"required="">
                        <button class="modal-delete" post-id="{{cmt.id}}">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="comment-form" class="row aaa">
        <input type="hidden" name="post" required="" value="{{post.id}}">
        <div class="col-6 col-lg-3"><input type="text" class="w-100" name="nickname" maxlength="12" placeholder="닉네임" required=""></div>
        <div class="col-6 col-lg-3"><input type="text" class="w-100" name="password" maxlength="20" placeholder="비밀번호" required=""></div>
        {{form.captcha}}
        <div class="d-flex">
            <textarea class="w-100" name="content" maxlength="400" required="" cols="35" rows="4"></textarea>
            <button type="submit">등록</button>
        </div>
    </form>
    {% endif %}
</div>
<div class="bbb">
    <div class="aaa">
        <h6><a href="{% url 'blog:post_list' post.tree_id %}">이 블로그 {{post.tree}} 메뉴 글</a></h6>
    </div>
    prev 페이지 시작 글: <input type="text" id="prev-info" value="{{small.prev_info}}">
    <div class="aaa">
        {% for p in small.list %}
            <a href="{% url 'blog:get_post' p.id %}">
                <div class="bbb" {% if p.id == post.id %}style="background-color: yellow;"{% endif%}>
                    <span class="small-span">{{p.title}}</span>
                    <small>{{p.insert_date}}</small>
                </div>
            </a>
        {% endfor %}
    </div>
    next 페이지 시작 글: <input type="text" id="next-info" value="{{small.next_info}}">
    <h2>
        <div class="d-flex justify-content-center gap-5 aaa">
        {% if small.has_prev %}
            <div class="prev-true">
        {% else %}
            <div class="prev-false">
        {% endif %}
                <span id="prev-false" class="d-none">&lt;</span>
                <button type="button" id="prev-true" class="d-none">&lt;</button>
            </div>
        {% if small.has_next %}
            <div class="next-true">
        {% else %}
            <div class="next-false">
        {% endif %}
                <span id="next-false" class="d-none">&gt;</span>
                <button type="button" id="next-true" class="d-none">&gt;</button>
            </div>
        </div>
        <script>
            document.getElementById("prev").addEventListener("click", () => {
                test("prev");
            });
            document.getElementById("next").addEventListener("click", () => {
                test("next");
            });
            function test(cend) {
                let URL;
                if(cend==="prev"){
                    URL = "pr";
                }else if(cend==="next"){
                    URL = "nx";
                }
                console.log(URL);
                const OPTIONS = {
                    method: "POST",
                    mode: "same-origin",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}",
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        id: id,
                        password: password,
                    }),
                }
                fetch(URL, OPTIONS)
                .then(response => response.json())
                .then(data => {
                    if(data.status){
                        refreshComment();
                        //alert(data.message);
                    }else{
                        let mess = "";
                        for(key in data.data){
                            mess += key+": "+data.data[key]+"\n";
                        }
                        alert(data.message+"\n"+mess);
                    }
                })
                .catch((error) => console.log("error:", error));
            }
        </script>
    </h2>
</div>
<input type="text" id="ShareUrl" class="d-none">
<script>
    {% if user.is_authenticated %}
    document.getElementById("post-delete-button").addEventListener("click", () => {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = "{% url 'blog:delete_post' post.id %}";
        }
    });
    {% endif %}
    const postId = {{post.id}};
    const COMMENT_FORM = document.getElementById("comment-form");
    COMMENT_FORM.addEventListener("submit", (e) => {
        e.preventDefault();//submit 멈춰!
        createComment();
    });

{% if not user.is_authenticated %}
    const MODAL_FORM = new bootstrap.Modal(document.getElementById("exampleModal"));
    const MODAL_ID = document.getElementById("modal-id");
    const MODAL_PASSWORD = document.getElementById("modal-password");

    document.querySelector(".modal-delete").addEventListener("click", () => {
        if(!MODAL_ID.value){
            alert("댓글 삭제 오류\n댓글 선택에 문제가 발생했습니다.\n페이지를 새로고침해주십시오.");
            return false;
        }
        deleteComment(MODAL_ID.value, document.getElementById("modal-password").value)
    });
{% endif %}
    function initButton() {
        {% if not user.is_authenticated %}
        MODAL_FORM.hide();
        {% endif %}
        const MODAL_BUTTON = document.querySelectorAll(".modal-button");
        MODAL_BUTTON.forEach(btn => {
            btn.addEventListener("click", (e) => {
                MODAL_FORM.show();
                MODAL_ID.value = e.target.getAttribute("modal-id");
                MODAL_PASSWORD.value = "";
            });
        });
    
        const DELETE_BUTTONS = document.querySelectorAll(".delete-button");
        DELETE_BUTTONS.forEach(btn => {
            btn.addEventListener("click", () => 
                deleteComment(btn.getAttribute("post-id"))
            );
        });
    }

    initButton();

    function refreshComment() {
        const URL = "{% url 'blog:get_cmt' %}"
        const OPTIONS = {
            method: "POST",
            mode: "same-origin",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                postId: postId,
            }),
        }
        fetch(URL, OPTIONS)
        .then(response => response.json())
        .then(data => {
            if(data.status){
                document.getElementById("comment-wrapper").innerHTML = data.data;
                initButton();
            }else{
                let mess = "";
                for(key in data.data){
                    mess += key+": "+data.data[key]+"\n";
                }
                alert(data.message+"\n"+mess);
            }
        })
        .catch((error) => console.log("error:", error));
    }

    function createComment() {
        const PAYLOAD = new FormData(COMMENT_FORM);
        const URL = "{% url 'blog:create_cmt' %}";
        const OPTIONS = {
            method: "POST",
            mode: "same-origin",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
            },
            body: PAYLOAD,
        }
        fetch(URL, OPTIONS)
        .then(response => response.json())
        .then(data => {
            if(data.status){
                refreshComment();
                //alert(data.message);
            }else{
                let mess = "";
                for(key in data.data){
                    mess += key+": "+data.data[key]+"\n";
                }
                alert(data.message+"\n"+mess);
            }
        })
        .catch((error) => console.log("error:", error));
    }

    function deleteComment(id, password=null) {
        if(!confirm("댓글을 삭제하시겠습니까?")) return false;
        const URL = "{% url 'blog:delete_cmt' %}"
        const OPTIONS = {
            method: "POST",
            mode: "same-origin",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                id: id,
                password: password,
            }),
        }
        fetch(URL, OPTIONS)
        .then(response => response.json())
        .then(data => {
            if(data.status){
                refreshComment();
                //alert(data.message);
            }else{
                let mess = "";
                for(key in data.data){
                    mess += key+": "+data.data[key]+"\n";
                }
                alert(data.message+"\n"+mess);
                //fetch들 data.status 실패하고 data.data 에서 key 받아오는거 뭔지 정리 좀 해라.
            }
        })
        .catch((error) => console.log("error:", error));
    }

    document.getElementById("copy-url").onclick = function(e){
        var obShareUrl = document.getElementById("ShareUrl");
        obShareUrl.className = "test";
        obShareUrl.value = "{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}{% url 'blog:get_post' post.id %}" // 현재 URL 을 세팅해 줍니다.
        obShareUrl.select(); // 해당 값이 선택되도록 select() 합니다
        document.execCommand("copy"); // 클립보드에 복사합니다.
        obShareUrl.blur(); // 선된것을 다시 선택안된것으로 바꿈니다.
        obShareUrl.className = "d-none";
        alert("URL이 클립보드에 복사되었습니다");
    }
</script>