{% extends 'layout/base.html' %}
{% load blog_filter %}

{% block meta %}
<script>
    console.log('blog_base');
</script>
{% endblock %}

{% block content %}
<main>
    <hr/>
        <ul>
            {% if user.is_authenticated %}
            <a href="{% url 'blog:set_tree' %}">트리설정</a>
            {% endif %}
            <li><a href="{% url 'blog:post_list' 'all' %}">전체보기🔮</a></li>
            {% getTree as menus %}
            {% for node in menus %} 
                {% include 'blog/tree.html' %}
            {% endfor %}
            <li><a href="{% url 'blog:post_list' 'null' %}">고아들😢</a></li>
        </ul>
    <hr/>
    <div>
        {% if user.is_authenticated %}
        <a href="{% url 'blog:create_post' %}">create</a>
        {% endif %}
    </div>
    {% include template %}
</main>
{% endblock %}