<div class="bbb">
    <h1>Hello List! {{tree_title}}</h1>
</div>
<div class="bbb">
{% if post_list %}
    <div class="aaa">
    {% for post in post_list %}
        <a href="{% url 'blog:get_post' post.id %}">
            <div class="post-wrapper bbb">
                <div class="content aaa">
                    <div><h5><b>{{post.title}}</b></h5></div>
                    <div><span class="content-span">{{post.content|striptags|safe|truncatechars:200}}</span></div>
                    <div>{{post.insert_date|date:'Y.m.d (D)'}}</div>
                    <div>조회: {{post.view_count}}&nbsp;댓글: {{post.comment.count}}</div>
                </div>
                {% if post.thumbnail %}
                <div class="thumbnail d-flex justify-content-center align-items-center aaa">
                    <div class="image-box">
                        <img src="{{post.thumbnail}}" class="image-thumbnail" alt="썸네일">
                    </div>
                </div>
                {% endif %}
            </div>
        </a>
    {% endfor %}
    </div>
    <div class="pagination aaa d-flex justify-content-center">
        {% if slicing >= 1 %}
            <a href="?page=1"><button>맨처음</button></a>
            <a href="?page={{ slicing }}"><button>&lt;</button></a>
        {% else %}
            맨처음
            &lt;
        {% endif %}
        {% for page in paging %}
            {% if post_list.number == page %}
            <h4><b>{{page}}</b></h4>
            {% else %}
            <a href="?page={{page}}"><button>{{page}}</button></a>
            {% endif %}
        {% endfor %}
        {% if slicing|add:page_btn|add:1 <= post_list.paginator.num_pages %}
            <a href="?page={{ slicing|add:page_btn|add:1 }}"><button>&gt;</button></a>
            <a href="?page={{ post_list.paginator.num_pages }}"><button>마지막</button></a>
        {% else %}
            &gt;
            마지막
        {% endif %}
        </div>
{% else %}
    <div>엄서용</div>
{% endif %}
</div>