{% load blog_filter %}
<!DOCTYPE html>
<html lang="ko">
<head>
    {% include 'layout/meta.html' %}
</head>
<body>
    <a href="{% url 'blog:index' %}">크크</a>
    <div id="tree-wrapper">
    </div>
    <button type="button" onClick="insertTree()">추가</button>
    <hr/>
    <form id="tree-form" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="id"/>
        <div>title: <input type="text" name="title"/></div>
        <div>seq: <input type="number" name="seq"/></div>
        <div>parent: <input type="text" id="parent" name="parent"/></div>
        <button type="submit">submit</button>
    </form>
    <hr/>
    {% if messages %}
        {% include 'layout/message.html' %}
    {% endif %}
    <script>
        function getTree(){
            const URL = "{% url 'blog:get_tree' %}"
            const OPTIONS = {
                method: "POST",
                mode: "same-origin",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                    "Content-Type": "application/json",
                },
            }
            fetch(URL, OPTIONS)
            .then(response => response.json())
            .then(data => {
                if(data.status){
                    document.getElementById("tree-wrapper").innerHTML = makeTree(data.data);

                    //생성된 부모 id 선택 버튼들에 id 할당.
                    const ID_BUTTONS = document.querySelectorAll(".id-button");
                    ID_BUTTONS.forEach(btn => {
                        btn.addEventListener("click", () => {
                            document.getElementById("parent").value = btn.getAttribute("menu-id");
                        });
                    });

                    //생성된 트리 삭제 버튼들에 함수 할당.
                    const DELETE_BUTTONS = document.querySelectorAll(".delete-button");
                    DELETE_BUTTONS.forEach(btn => {
                        btn.addEventListener("click", () => deleteTree(btn.value));
                    });

                    //생성된 트리 선택 버튼들에 함수 할당.
                    const SELECT_BUTTONS = document.querySelectorAll(".select-button");
                    SELECT_BUTTONS.forEach(btn => {
                        btn.addEventListener("click", () => selectTree(btn.value));
                    });
                }else{
                    let mess = "";
                    for(key in data.data){
                        mess += key+": "+data.data[key]+"\n";
                    }
                    alert(data.message+"\n"+mess);
                }
            })
            .catch((error) => console.log("error:", error));
        }

        function makeTree(MENUS, parent=null, depth=0){
            let tree = ``;
            MENUS.forEach(menu => {
                if(menu.parent_id === parent){
                    tree +=
                    `<div style="margin-left:${depth}px;">
                        <span><b>${menu.title}</b></span>
                        <span>seq: ${menu.seq}</span>
                        <button class="id-button" menu-id="${menu.id}">id: ${menu.id}</button>
                        <button class="select-button" value="${menu.id}">${menu.title} 선택(수정)</button>
                        <button class="delete-button" value="${menu.id}">${menu.title} 삭제</button>
                    </div>`;
                    tree += makeTree(MENUS, menu.id, depth+20);
                }
            })
            return tree;
        }

        getTree();

        const TREE_FORM = document.getElementById("tree-form");
        TREE_FORM.addEventListener("submit", (e) => {
            e.preventDefault();
            saveTree();
        });

        function saveTree() {
            const payload = new FormData(TREE_FORM);
            const URL = "{% url 'blog:save_tree'%}";
            const OPTIONS = {
                method: "POST",
                mode: "same-origin",
                headers: {
                    "X-CSRFToken": "{{csrf_token}}",
                },
                body: payload,
            }
            fetch(URL, OPTIONS)
            .then(response => response.json())
            .then(data => {
                if(data.status){
                    getTree();
                    alert(data.message);
                }else{
                    let mess = "";
                    for(key in data.data){
                        mess += key+": "+data.data[key]+"\n";
                    }
                    alert(data.message+"\n"+mess);
                }
            })
            .catch((error) => console.log("error:", error));
        }

        function selectTree(id) {
            const URL = "{% url 'blog:select_tree' %}";
            const OPTIONS = {
                method: "POST",
                mode: "same-origin",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    id: id,
                }),
            }
            fetch(URL, OPTIONS)
            .then(response => response.json())
            .then(data => {
                if(data.status){
                    for(key in data.data){
                        const el = document.getElementsByName(key)[0];
                        if(el !== undefined){
                            el.value = data.data[key];
                        }
                    }
                }else{
                    alert(data.message);
                }
            })
            .catch((error) => console.log("error:", error));
        }

        function insertTree(){
            //수정 팝업창 등장~
            document.getElementsByName("id")[0].value = "";
        }

        function deleteTree(id){
            const URL = "{% url 'blog:delet_tree' %}";
            const OPTIONS = {
                method: "POST",
                mode: "same-origin",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    id: id,
                }),
            }
            fetch(URL, OPTIONS)
            .then(response => response.json())
            .then(data => {
                if(data.status){
                    getTree();
                    alert(data.message);
                }else{
                    alert(data.message);
                }
            })
            .catch((error) => console.log("error:", error));   
        }
    </script>
</body>
</html>