{% load static %}
<link rel="stylesheet" href="{% static 'ckeditor5/content-styles.css' %}" type="text/css">
<h1>Hello Post!</h1>
{% if user.is_authenticated %}
<a href="{% url 'blog:update_post' post.id %}">update</a>
<a href="{% url 'blog:delete_post' post.id %}">delete</a>
공개여부:{{post.is_public}}<br/>
조회수:{{post.view_count}}
{% endif %}
<div>
    {% if post.is_public or user.is_authenticated %}
        {{post.title}}
    {% else %}
        응 비공개
    {% endif %}
</div>
<div style="border:1px solid black; max-width:1000px;" class="ck-content">
    {% autoescape off %}
    {{post.content}}
    {% endautoescape %}
</div>
<button onClick="refreshComment()">refresh</button>
<div id="comment-wrapper">
    {% if cmt_list %}
        {% for cmt in cmt_list %}
            <div class="comment">
                <span>이름:{{cmt.nickname}}</span>
                {% if cmt.is_authenticated %}
                (주인이다!)
                {% endif %}
                <br/>
                <span>내용:{{cmt.content}}</span>
                {% if user.is_authenticated %}
                <button class="delete-button" post-id="{{cmt.id}}">수퍼x</button>
                {% elif not user.is_authenticated and not cmt.is_authenticated %}
                <button type="button" class="modal-button" modal-id="{{cmt.id}}">모달x</button>
                {% endif %}
            </div>
            <hr>
        {% endfor %}
    {% endif %}
</div>
<div>
    {% comment %} readOnly {% endcomment %}
    comment: <input type="text" id="modal-id" required="" value=""><br/>
    비밀번호: <input type="text" id="modal-password" maxlength="20"required="">
    <button class="delete-aa" post-id="{{cmt.id}}">삭제</button>
</div>
<hr>
<div>
    {% if user.is_authenticated %}
    <form id="comment-form">
        post: <input type="text" name="post" readOnly required="" value="{{post.id}}">
        내용: <textarea name="content" cols="30" rows="10"></textarea>
        <button type="submit">등록</button>
    </form>
    {% else %}
    <form id="comment-form">
        post: <input type="text" name="post" readOnly required="" value="{{post.id}}">
        이름: <input type="text" name="nickname" maxlength="12" required="">
        비밀번호: <input type="text" name="password" maxlength="20"required="">
        캡챠: {{form.captcha}}
        내용: <textarea name="content" maxlength="400" required="" cols="40" rows="10"></textarea>
        <button type="submit">등록</button>
    </form>
    {% endif %}
</div>
<script>
    const postId = {{post.id}};
    const COMMENT_FORM = document.getElementById("comment-form");
    COMMENT_FORM.addEventListener("submit", (e) => {
        e.preventDefault();//submit 멈춰!
        createComment();
    });
    const MODAL_ID = document.getElementById("modal-id");

    document.querySelector(".delete-aa").addEventListener("click", () => {
        if(!MODAL_ID.value){
            alert("뭔 댓글을 지워야 하는겨?");
            return false;
        }
        deleteComment(MODAL_ID.value, document.getElementById("modal-password").value)
    });

    function initButton() {
        const MODAL_BUTTON = document.querySelectorAll(".modal-button");
        MODAL_BUTTON.forEach(btn => {
            btn.addEventListener("click", (e) => {
                //수정 모달 띄워~!3
                MODAL_ID.value = e.target.getAttribute("modal-id");
            });
        });
    
        const DELETE_BUTTONS = document.querySelectorAll(".delete-button");
        DELETE_BUTTONS.forEach(btn => {
            btn.addEventListener("click", () => 
                deleteComment(btn.getAttribute("post-id"))
            );
        });
    }

    initButton();

    function refreshComment() {
        const URL = "{% url 'blog:get_cmt' %}"
        const OPTIONS = {
            method: "POST",
            mode: "same-origin",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                postId: postId,
            }),
        }
        fetch(URL, OPTIONS)
        .then(response => response.json())
        .then(data => {
            if(data.status){
                document.getElementById("comment-wrapper").innerHTML = data.data;
                initButton();
            }else{
                let mess = "";
                for(key in data.data){
                    mess += key+": "+data.data[key]+"\n";
                }
                alert(data.message+"\n"+mess);
            }
        })
        .catch((error) => console.log("error:", error));
    }

    function createComment() {
        const PAYLOAD = new FormData(COMMENT_FORM);
        const URL = "{% url 'blog:create_cmt' %}";
        const OPTIONS = {
            method: "POST",
            mode: "same-origin",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
            },
            body: PAYLOAD,
        }
        fetch(URL, OPTIONS)
        .then(response => response.json())
        .then(data => {
            if(data.status){
                refreshComment();
                alert(data.message);
            }else{
                let mess = "";
                for(key in data.data){
                    mess += key+": "+data.data[key]+"\n";
                }
                alert(data.message+"\n"+mess);
            }
        })
        .catch((error) => console.log("error:", error));
    }

    function deleteComment(id, password=null) {
        const URL = "{% url 'blog:delete_cmt' %}"
        const OPTIONS = {
            method: "POST",
            mode: "same-origin",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                id: id,
                password: password,
            }),
        }
        fetch(URL, OPTIONS)
        .then(response => response.json())
        .then(data => {
            if(data.status){
                refreshComment();
                alert(data.message);
            }else{
                let mess = "";
                for(key in data.data){
                    mess += key+": "+data.data[key]+"\n";
                }
                alert(data.message+"\n"+mess);
                //fetch들 data.status 실패하고 data.data 에서 key 받아오는거 뭔지 정리 좀 해라.
            }
        })
        .catch((error) => console.log("error:", error));
    }
</script>
<hr>