{% extends 'layout/base.html' %}
{% load blog_filter %}

{% block meta %}
<script>
    console.log('blog_base');
</script>
{% endblock %}

{% block content %}
<main>
    <hr/>
        <ul>
            {% if user.is_authenticated %}
            <a href="{% url 'blog:tree' %}">트리설정</a>
            {% endif %}
        {% getTree as menus %}                        
        {% for node in menus %} 
            {% include 'blog/tree.html' %}
        {% endfor %}
        </ul>
    <hr/>
    {% include template %}
</main>
{% endblock %}