{% load static %}
<link rel="stylesheet" href="{% static 'ckeditor5/content-styles.css' %}" type="text/css">
<h1>Hello Post!</h1>
{% if user.is_authenticated %}
<a href="{% url 'blog:update_post' post.id %}">update</a>
<a href="{% url 'blog:delete_post' post.id %}">delete</a>
공개여부:{{post.is_public}}<br/>
조회수:{{post.view_count}}
{% endif %}
<div>
    {% if post.is_public or user.is_authenticated %}
        {{post.title}}
    {% else %}
        응 비공개
    {% endif %}
</div>
<div style="border:1px solid black; max-width:1000px;" class="ck-content">
    {% autoescape off %}
    {{post.content}}
    {% endautoescape %}
</div>
<div id="comment-wrapper">
    {% if cmt_list %}
        {% for cmt in cmt_list %}
            <div id="{{cmt.id}}" class="comment">
                <span>이름:{{cmt.nickname}}</span>
                <span>내용:{{cmt.content}}</span>
                <button>x</button>
            </div>
            <hr>
        {% endfor %}
    {% endif %}
</div>
<hr>
<div>
    <form id="comment-form">
        post: <input type="text" name="post" readOnly required="" value="{{post.id}}">
        이름: <input type="text" name="nickname" required="">
        비밀번호: <input type="text" name="password" required="">
        캡챠: <input type="text" required="">
        내용: <textarea name="content" cols="30" rows="10"></textarea>
        <button type="submit">등록</button>
    </form>
    <script>
        const COMMENT_FORM = document.getElementById("comment-form");
        COMMENT_FORM.addEventListener("submit", (e) => {
            e.preventDefault();//submit 멈춰!
            createComment();
        });
        function refreshComment() {
            const URL = "{% url 'blog:create_cmt' %}";
            const OPTIONS = {
                method: "POST",
                mode: "same-origin",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                body: PAYLOAD,
            }
            fetch(URL, OPTIONS)
            .then(response => response.json())
            .then(data => {
                if(data.status){

                    alert(data.message);
                }else{
                    let mess = "";
                    for(key in data.data){
                        mess += key+": "+data.data[key]+"\n";
                    }
                    alert(data.message+"\n"+mess);
                }
            })
            .catch((error) => console.log("error:", error));
        }

        function createComment() {
            const PAYLOAD = new FormData(COMMENT_FORM);
            const URL = "{% url 'blog:create_cmt' %}";
            const OPTIONS = {
                method: "POST",
                mode: "same-origin",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                body: PAYLOAD,
            }
            fetch(URL, OPTIONS)
            .then(response => response.json())
            .then(data => {
                if(data.status){

                    alert(data.message);
                }else{
                    let mess = "";
                    for(key in data.data){
                        mess += key+": "+data.data[key]+"\n";
                    }
                    alert(data.message+"\n"+mess);
                }
            })
            .catch((error) => console.log("error:", error));
        }
    </script>
</div>
<hr>