{% load i18n %}
{% spaceless %}
<div class="col-6 col-lg-3">{% include "django/forms/widgets/multiwidget.html" %}</div>
<div class="col-6 col-lg-3"><button type="button" id="refreshCaptcha">🎲</button><img src="{{ image }}" id="captcha_image" alt="captcha"/></div>
{% endspaceless %}
<script>
    document.getElementById("id_captcha_1").placeholder = "코드";
    document.getElementById("refreshCaptcha").addEventListener("click", () => {
        const URL = "/captcha/refresh/";
        const OPTIONS = {
            method: "GET",
            mode: "same-origin",
            headers: {
                "X-Requested-With": "XMLHttpRequest",
            },
        }
        fetch(URL, OPTIONS)
        .then(response => response.json())
        .then(data => {
            document.getElementById("captcha_image").setAttribute("src", data["image_url"]);
            document.getElementById("id_captcha_0").value = data["key"];
            document.getElementById("id_captcha_1").value = "";
        })
        .catch((error) => console.log("error:", error));
    });
</script>