{% load filter %}
<header>
    <nav class="navbar navbar-expand-md aaa">
        <div class="container-xxl container-fluid bbb">
            <div class="aaa"><h1>
                <span>Sisu</span>
                <a href="/">index</a></h1>
            </div>
            <button class="navbar-toggler aaa" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                헤더
            </button>
            <div class="collapse navbar-collapse gap-3 aaa" id="navbarSupportedContent">
                {% top_menu as context %}
                {% for menu in context %}
                <div class="bbb">
                    <h1><a href="{% url menu.url %}">{{menu}}</a></h1>
                </div>
                {% endfor %}
                {% if user.is_authenticated %}
                <div class="bbb">
                    <h1><a href="{% url 'common:logout' %}?next={{request.get_full_path|urlencode}}">logout</a></h1>
                </div>
                {% else %}
                <div class="bbb">
                    <h1><a href="{% url 'common:login' %}?next={{request.get_full_path|urlencode}}">login</a></h1>
                </div>
                {% endif %}
                <div class="bbb">
                    <h1><a href="https://github.com/sisu-01" target="_blank">github</a></h1>
                </div>
            </div>
        </div>
    </nav>
</header>